html, body {
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 14px;
	background-color: rgb(240, 240, 240);
	margin: 0 auto;
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 40px;
	line-height: 40px;
	background-color: #30383c;
	font-size: 20px;
	color: white;
	vertical-align: middle;
}

header .menubut {
	cursor: pointer;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

header .rightMenu {
	position: absolute;
	list-style: none;
	position: absolute;
	right: 20px;
	top: 0;
}

.content {
	padding-top: 40px;
}

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 40px;
	background-color: rgb(10, 10, 10);
	background-color: rgba(10, 10, 10, 0.9);
	overflow-x: hidden;
}

.left {
	left: 0;
}

.right {
	right: 0;
}

.overlay-content {
	position: relative;
	width: 100%;
	margin-top: 30px;
}

.overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 20px;
	color: #a0a0a0;
	display: block;
}

.overlay a:hover, .overlay a:focus {
	color: #f1f1f1;
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px
	}
}