html, body {
	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 15px;
	line-height: 1.5;
}

body {
	margin: 0;
	top: 0px;
	position: relative;
	min-height: 100%;
}

article{
	height: 100%;
}

article header{
	font-size: 20px;
	font-weight: bold;
}

article footer{
	font-size: 16px;
}


nav{
	height: 40px;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
}

nav header{
	font-size: 20px;
	font-weight: bold;
}

.content {
  padding-left: 15px;
	padding-right: 15px;
}