html, body {
	font-family: "Segoe UI", Arial, sans-serif;
	background-color: black;
	margin: 0;
	padding: 0;
	color: white;
	background: url("earth-dark.jpg") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

header {
	position: fixed;
	height: 40px;
	width: 100%;
	background-color: black;
	line-height: 40px;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
	z-index: 20000;
}

header a{
	color: white;
	outline: none;
	text-decoration: none;
	transition: font-size 0.3s;
}

header a:hover{
	font-size: 1.2em;
}

.content {
	padding-top: 40px;
}

h1 {
    left: 0;
    line-height: 200px;
    margin-top: -100px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    font-size: 80px;
    
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 60px; 
    }
}